:root{
    --montserrat-font: 'Montserrat', sans-serif;
    --kronaOne-font: 'Krona One', serif;
    --main-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #22D4FD;
    --hover-color:#272727;
}